.admin-container {
    display: flex;
    flex-direction: column;
    /* background-image: url('../assets/background.jpg');
    background-size: cover; */
}

.admin-navbar-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-self: center;
}

.admin-navbar-link {
    background-color: rgb(52, 151, 243);
    border-radius: 20px;
    color: #1c2a31;
    transition-timing-function: linear;
    transition-duration: 200ms;
    margin: 5px;
}

.admin-navbar-link:hover {
    background-color: rgb(97, 179, 255);
}

.admin-navbar-link-active {
    background-color: rgb(1, 82, 158);
    color: whitesmoke;
    transition-timing-function: linear;
    transition-duration: 200ms;
}

.admin-navbar-link-active:hover {
    background-color: rgb(23, 110, 190);
    color: whitesmoke;
    
}