.modal-form {
    background: rgba(106, 205, 222, 0.8);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 20px auto;
    width: 60%;
    border-radius: 15px;
    overflow: auto;
}

.modal-form-2 {
    background: rgba(106, 205, 222, 0.8);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    border-radius: 15px;
    max-height: 95vh;
    overflow: auto;
}

.modal-form-button-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.modal-button {
    margin-left: 10px;
}