.home {
    font-family: Lato, sans-serif;
    background-color: #5e6f92;
    background-image: url("background.jpg");
    background-size: cover;
    overflow: auto;
    min-height: 89vh;
}

.news {
    background-color: #F5F5F5CC;
    margin: 10px 20px 10px;
    border-radius: 5px;
    padding: 18px;
}

.hub {
    background-color: #F5F5F5CC;
    margin: 10px 20px 10px;
    border-radius: 5px;
    padding: 18px;
}

.hub-card {
    background-image: url("https://picsum.photos/200/300/?random ");
    background-size: cover;
    height: 200px;
    width: 200px;
    padding: 10px;
}