.app-navbar {
    font-family: Lato, sans-serif;
    /*TODO why flex wrap does not work?*/
    display: flex;
    flex-wrap: wrap;
    background-color: #16b1d9;
    height: 70px;
}

.app-link {
    font-size: 20px;
}