.navlink-pagination {
    ;
    margin-right: 5px;
    outline: none;
}

.register-page {
    background-color: #5e6f92;
    background-image: url("../background.jpg");
    background-size: cover;
    justify-content: center;
    overflow: auto;
}

.register-box{
    background-color: #F5F5F5CC;
    display: flex;
    width: 70%;
    position: center;
    flex-direction: column;
    margin: 30px auto;
    padding: 30px 100px 10px;
    border-radius: 15px;
}

.register-page-sub {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.separator {
    margin-left: 0;
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}