.app-navbar {
    font-family: Lato, sans-serif;
    /*TODO why flex wrap does not work?*/
    display: flex;
    flex-wrap: wrap;
    background-color: #16b1d9;
    height: 70px;
}

.app-navbar img {
    width: 50px;
    height: 50px;
}

.app-container {
    font-family: Lato, sans-serif;
    background-color: #5e6f92;
    /*background-image: url("/images/background.jpg"); TODO background in asset folder*/
    background-image: url("../app/background.jpg");
    background-size: cover;
    overflow: auto;
    min-height: calc(100vh - 285px);
}